.mainBar{
    min-width: 210vh;
    background-color: lightblue;
    position: static; 
    padding: 20px;
}

.secMainBar{
    min-width: 160vh;
    padding: 20px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: lightgreen;
    margin-left: 50px;
}

.divCont{
    display: flex;
    min-width: 100vh;
}

.thirdCont{
    min-Width: 100vh; 
    display: flex;
    justify-Content: flex-end;
}

.fourthCont{
    display: flex;
    justify-Content: center;
    align-Items: center;
    align-Self: center;
    background-Color: yellow;
    padding: 50px;
    margin-Left: 20px;
}